@model ProjectMVC.LOGICA.Models.ViewModels.ProjectsDetailsViewModels
@{
    ViewBag.Title = "Detail";
}

@*//ProjectsBindingModel*@
<h2>Details</h2>

<table class="table table-bordered table-responsive">
    <tr>
        <td>@Html.DisplayNameFor(Model => Model.Title)</td>
        <td>@Html.DisplayNameFor(Model => Model.Details)</td>
        <td>@Html.DisplayNameFor(Model => Model.ExpectedCompletionDate)</td>
        <td>@Html.DisplayNameFor(Model => Model.CreatedAt)</td>
        <td>@Html.DisplayNameFor(Model => Model.UpdatedAt)</td>
    </tr>

    <tr>
        <td>@Html.DisplayFor(model => Model.Title)</td>
        <td>@Html.DisplayFor(model => Model.Details)</td>
        <td>@Html.DisplayFor(model => Model.ExpectedCompletionDate)</td>
        <td>@Html.DisplayFor(model => Model.CreatedAt)</td>
        <td> @Html.DisplayFor(model => Model.UpdatedAt)</td>
    </tr>
</table>

@Html.ActionLink(" ",
"Index",
"Projects",
null,
new { @class = "btn btn-outline-primary fas fa-arrow-circle-left" })


