@model IEnumerable<ProjectMVC.DAL.Models.Priorities>

@{
    ViewBag.Title = "Index";
}

<h2>Priorities</h2>

<p>
    @Html.ActionLink(" ", "Create", "Priorities", null, new { @class = " btn btn-outline-primary fas fa-plus-circle" })
</p>
<table class="table table-bordered">
    <tr>
        <td>@Html.DisplayNameFor(model => model.Name)</td>
        <td>@Html.DisplayNameFor(model => model.Active)</td>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Active)</td>
            <td>
                @Html.ActionLink(" ", "Edit", "Priorities", new { id = item.Id }, new { @class = "btn btn-primary btn-sm fas fa-edit" })
                @Html.ActionLink(" ", "Details", "Priorities", new { id = item.Id }, new { @class = "btn btn-success btn-sm fas fa-info-circle" })
                @Html.ActionLink(" ", "Delete", "Priorities", new { id = item.Id }, new { @class = "btn btn-danger btn-sm fas fa-trash" })
            </td>
        </tr>
    }

</table>
